body{
    margin: 0px;
}

#body-container
{
    height: 700px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border: 1px solid white;
}

img.logo
{
	background-image : url(logo.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 450px;
	top : 1px;
	width : 85px;
	height : 119px;
    z-index: 10;
}

img.pink
{
	background : #E8769C;
	background : rgba(232, 118, 156, 1);
	position : absolute ;
	left : 0px;
	top : 36px;
	width : 1000px;
	height : 49px;
    z-index: 9;
}

img.veil
{
	background : #B99AC8;
	background : rgba(185, 154, 200, 1);
	opacity : 0.65;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 1000px;
	height : 120px;
	filter: alpha(opacity=65) progid:DXImageTransform.Microsoft.Alpha(opacity=65) ;
    z-index: 8;
}

img.stripes
{
    position : absolute ;
	left : 127px;
	top : -115px;
	width : 712px;
	height : 235px;
    z-index: 7;
}
h1.education
{
	font-family : Courier New;
	font-size : 55px;
	color : #E8769C;
	color : rgb(232, 118, 156);
	text-decoration : underline;
    font-weight: 200;
    position : absolute ;
	left : 0px;
	top : 83px;
	width : 307px;
	height : 34px;
    text-align: center;
    background-color: #613581;
    padding: 2px;
    padding-bottom: 30px;

}
h1.skills
{
	font-family : Courier New;
	font-size : 55px;
	color : #E8769C;
	color : rgb(232, 118, 156);
	text-decoration : underline;
    position : absolute ;
	left : 688px;
	top : 83px;
	width : 308px;
	height : 34px;
    text-align: center;
    background-color: #613581;
    padding: 2px;
    padding-bottom: 30px;
    font-weight: 200;
}
h1.info
{
	font-family : Courier New;
	font-size : 55px;
	color : #E8769C;
	color : rgb(232, 118, 156);
	text-decoration : underline;
    position : absolute ;
	left : 0px;
	top : 264px;
	width : 203px;
	height : 34px;
    text-align: center;
    background-color: #613581;
    padding: 2px;
    padding-bottom: 34px;
    font-weight: 200;
}
h1.profile
{
	font-family : Courier New;
	font-size : 55px;
	color : #E8769C;
	color : rgb(232, 118, 156);
	text-decoration : underline;
    position : absolute ;
	left : 707px;
	top : 323px;
	width : 203px;
	height : 34px;
    text-align: center;
    background-color: #613581;
    padding: 2px;
    padding-bottom: 30px;
    font-weight: 200;
    padding-left: 40px;
    padding-right: 50px;
}
p.p1
{
    position : absolute ;
	left : 0px;
	top : 157px;
	width : 307px;
	height : 34px;
    text-align: center;
    background-color: #B99AC8;
    padding: 2px;
    font-size: 25px;
    padding-top: 6px;
    padding-bottom: 23px;
    font-family : Courier New;
    color: #613581;
    font-weight: 600;
}
p.p2
{
    position : absolute ;
	left : 0px;
	top : 220px;
	width : 307px;
	height : 34px;
    text-align: center;
    background-color: #B99AC8;
    padding: 2px;
    font-size: 25px;
    padding-bottom: 20px;
    font-family : Courier New;
    color: #613581;
    font-weight: 600;
}
ul.sicc
{
    position : absolute ;
	left : 688px;
	top : 157px;
	width : 272px;
	height : 34px;
    text-align: center;
    background-color: #B99AC8;
    padding-bottom: 138px;
    padding-top: 7px;
    font-family : Courier New;
    color: #613581;
    font-weight: 600;
    list-style-position: inside;
    font-size: 25px
}

p.help
{
    position : absolute ;
	left : 0px;
	top : 339px;
	width : 203px;
	height : 34px;
    text-align: center;
    background-color: #B99AC8;
    padding: 2px;
    padding-bottom: 81px;
    padding-top: 7px;
    font-family : Courier New;
    color: #613581;
    font-weight: 600;
    font-size: 25px
}

ul.qualities
{
    position : absolute ;
	left : 707px;
	top : 401px;
	width : 181px;
	height : 34px;
    text-align: center;
    background-color: #B99AC8;
    padding: 2px;
    padding-right: 45px;
    padding-top: 7px;
    padding-left: 67px;
    padding-bottom: 115px;
    font-family : Courier New;
    color: #613581;
    font-weight: 600;
    font-size: 25px;
}
